body {
  margin: 0;
  padding: 0;
  background-color: #0a2829;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.titre{
  text-align: center; /* Centrer le texte horizontalement */
  margin-top: 20px;
}
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 1000px;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #50C2C9;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}


.card:first-child {
  background-color: #50C2C9;
}

.card:nth-child(2) {
  background-color: #50C2C9;
}

.card:nth-child(3) {
  background-color: #50C2C9;
}

.card:nth-child(4) {
  background-color: #50C2C9;
}
i{
right: 500px;
}
.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats{
  background-color: #0b3257;
  border-radius: 5%;
  width:450;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
/*Tableau produits */
/* Ajouter de l'espacement autour du tableau */
.table {
  margin: 40px; /* Espacement de 20px autour du tableau */
  border: 2px solid #ffffff; /* Bordure de 2px solide noire */
  background-color: rgb(255, 255, 255);
position:absolute;
border-radius: 5px;

}
.table-container {
  max-height: 400px; /* Hauteur maximale du conteneur pour activer le défilement */
  overflow-y: auto; /* Activer le défilement vertical lorsque nécessaire */
}

/* Ajouter du padding aux cellules du tableau */
.table th,.table td {
  padding: 35px; /* Padding de 10px à l'intérieur des cellules */
  color: black;
 
}
.Ingrédient{
  white-space: normal;
}
/* Button ajouter des produit */

/* hover effect on .button width */
.Btn:hover {
  width: 125px;
  border-radius: 0px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect .button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 20px;
}
/* .button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
.add {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #50C2C9;
  left: 39px;
  bottom: 5px;
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: .3s;
}
/* hover effect on button width */
.add:hover {
  width: 220px;
  border-radius: 0px;
  transition-duration: .3s;
}

.add:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.add:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 20px;
}
/* button click effect*/
.add:active {
  transform: translate(2px ,2px);
}
/* Ajouter Produit */
/* Styles pour le conteneur du formulaire */
.form-container {
  width: 50%; /* Largeur du formulaire */
  margin: 0 auto; /* Centrage horizontal */
  
}

/* Styles pour les champs de formulaire */
input[type="text"],
input[type="number"],
textarea,
select {
  width: 250%; /* Largeur de 100% pour remplir le conteneur */
  padding: 8px; /* Ajout de rembourrage pour un meilleur espacement */
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
  margin-bottom: 18px; /* Espacement entre les champs */
  resize: vertical; /* Permettre le redimensionnement vertical des zones de texte */
}

/* Styles pour les boutons */
button {
  width: 250%; /* Largeur de 100% pour remplir le conteneur */
  height: 15%;
  padding: 10px; /* Ajout de rembourrage pour un meilleur aspect */
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
  margin-top: 10px; /* Espacement au-dessus du bouton */
  background-color: #50C2C9;
  color: white;
  
}
.Lien {
 background-color: #50C2C9;
  color: white;
}

/*Notification */ 
.notifications{
  margin-right:300px
;}
/*Search */ 
.search-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin: 40px;
  height: 35px;

}



.search-button:hover {
  background-color: #0056b3;
}
.White{
  grid-area: main;
  overflow-y: auto;


}